<div class="table-container">
  <p class="text-center"><strong>User Details</strong></p>

  <div class="form-field">
    <p>
      <strong>Name:</strong>
      <span class="user-info"><%= user.name %></span>
    </p>
  </div>

  <div class="form-field">
    <p>
      <strong>Email:</strong>
      <span class="user-info"><%= user.email %></span>
    </p>
  </div>

  <div class="form-field">
    <p>
      <strong>Phone:</strong>
      <span class="user-info"><%= user.phone %></span>
    </p>
  </div>

  <div class="form-field">
    <p>
      <strong>Cpf:</strong>
      <span class="user-info"><%= user.cpf %></span>
    </p>
  </div>

  <p class="text-center"><%= link_to 'Back', users_path, class: 'search-button' %></p>
</div>
